:root {
  /* --primary-font: Vazir !important; */
  --primary-color: #d21c1c;
  --hover-color: #914040dd;
  --white-color: #fff;
  --dark-color: #212121;
  --second-color: #8080839d;
  --navbar-color: #616167c3;
  --gray-color: #e5e5eb1e;
  --main-color: #bfbfc47b;
}
